<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zikorico.tasklist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.zikorico.tasklist.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.zikorico.tasklist.NotesProvider"
            android:authorities="com.zikorico.tasklist.notesprovider"
            android:exported="false" />

        <activity android:name="com.zikorico.tasklist.EditorActivity"
            android:label="EditorActivity"
            android:parentActivityName="com.zikorico.tasklist.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.zikorico.tasklist.MainActivity"/>
            ></activity>
    </application>

</manifest>